@import "./node_modules/spectre.css/";

.dropzone {
    border: 4px solid blueviolet;
    color: blueviolet;
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
}

#map {
    height: 180px;
}
 .image{
    width: 400px;
    object-fit: contain;
 }